{{!
    Navbar with centered logo.
    Contains no elements and is non-collapsible.

    Variables:
    - src: source for logo file
    
}}
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-tertiary">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-quaternary">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-success">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-info">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-warning">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-danger">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-light">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand  mx-auto" href="#">
    <img src={{ src }} width="30" height="30" alt="">
  </a>
</nav>